body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #ff8c42; /* Orange */
}

h2 {
    color: #4caf50; /* Green */
}

iframe {
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    iframe {
        width: 100%;
        height: 200px;
    }
}

p {
    color: #333;
    margin-top: 10px;
}

strong {
    color: #ff8c42; /* Orange */
}



/* Add styles for the email input */
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

/* Add styles for the submit button */
input[type="submit"] {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

/* Adjust hover styles for the submit button */
input[type="submit"]:hover {
    background-color: #45a049; /* Darker shade of green or your preferred hover color */
}

@media screen and (min-width: 600px) {
    #mc_embed_signup_scroll{
        display: flex;
    }
}
img {
    mix-blend-mode: multiply;
    display: block;
    width: 100%;
    margin-top: 20px;
}
